/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
	outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
	-moz-appearance: none;
}

input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
	display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	font-size: 100%; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
	outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
	outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
	margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
	margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
	border: 0; /* 1 */
	padding: 0;
	white-space: normal; /* 2 */
	*margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
	font-size: 100%; /* 1 */
	margin: 0; /* 2 */
	vertical-align: baseline; /* 3 */
	*vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
	line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
	*overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
	*height: 13px; /* 3 */
	*width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* 2 */
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
	overflow: auto; /* 1 */
	vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
button,
input,
select,
textarea {
	color: #222;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
@font-face {
	font-family: "Muller";
	src: url("MullerExtraBold.eot");
	src: local("Muller ExtraBold"), local("MullerExtraBold"),
		url("/fonts/MullerExtraBold.eot?#iefix") format("embedded-opentype"),
		url("/fonts/MullerExtraBold.woff2") format("woff2"), url("/fonts/MullerExtraBold.woff") format("woff"),
		url("/fonts/MullerExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: "MullerRegular";
	src: url("../fonts/MullerRegular.eot");
	src: url("../fonts/MullerRegular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/MullerRegular.woff") format("woff"), url("../fonts//MullerRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "MullerMedium";
	src: url("/fonts/MullerMedium.eot");
	src: url("/fonts/MullerMedium.eot") format("embedded-opentype"), url("/fonts/MullerMedium.woff") format("woff"),
		url("/fonts/MullerMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "MullerLight";
	src: url("/fonts/MullerLight.eot");
	src: url("/fonts/MullerLight.eot") format("embedded-opentype"), url("/fonts/MullerLight.woff") format("woff"),
		url("/fonts/MullerLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}
html {
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
body {
	font-family: "Muller";
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #120b33;
}
.header {
	
}
.wrapper {
	max-width: 1235px;
	margin: 0 auto;
	background-color: white;
}

.header-nav {
	display: flex;
	justify-content: space-between;
}
.header-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: start;
	padding-top: 14px;
}
.header-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	padding-left: 8px;
	padding-top: 2px;
}
.header-item {
	margin-right: 41px;
}

.yllow-group-logo {
	font-family: "Muller";
	font-weight: 700;
	font-style: bold;
	background: #ffd54e;
	border-radius: 14px;
	width: 133px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 0.02em;
	color: #323232;
	position: relative;
	right: 14px;
	bottom: 11px;
	display: inline-block;
	text-align: center;
}
.logo-header-2 {
	position: relative;
}
.header-logo {
	margin-right: 60px;
}
.header-item-right-two {
	margin-left: 46px;
	width: 153px;
	height: 45px;
	background: #644bec;
	border-radius: 50px;
	position: relative;
	top: 9px;
}
.header-link {
	font-family: "MullerRegular";
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #120b33;
}
.header-link-tel {
	font-family: "Muller";
	font-weight: 800;
	font-style: bold;
	font-size: 22px;
	line-height: 22px;
	color: #120b33;
}

.header-list-right {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	margin-left: 125px;
}

.header-list-left {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: start;
}
.header-item-right-two {
	margin-right: 0;
}

.header-link-right {
	font-family: "MullerMedium";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 15px;
	color: #ffffff;
	text-align: center;
	position: relative;
	left: 36px;
	top: 15px;
}
.header-link:hover,
.header-link:focus,
.header-link:active,
.header-link-tel:hover,
.header-link-tel:focus,
.header-link-tel:active,
.header-link-right:hover,
.header-link-right:focus,
.header-link-right:active {
	opacity: 0.75;
}

/*BURGER MENU*/
/* MAIN */
.hamburger-menu {
	display: none;
}
#menu__toggle {
	opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 510px;
}

.menu__btn {
	display: flex;
	align-items: center;
	position: fixed;
	top: 42px;
	left: 709px;
	width: 33px;
	height: 25px;

	cursor: pointer;
	z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;

	width: 33px;
	height: 3px;
	background: #120b33;

	transition-duration: 0.25s;
}
.menu__btn > span::before {
	content: "";
	top: -10px;
}
.menu__btn > span::after {
	content: "";
	top: 10px;
}

.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 58px;
	left: 510px;
	width: 195px;
	height: 14%;
	margin: 0;
	padding: 29px 0px;
	list-style: none;
	background-color: #eceff1;
	box-shadow: 1px 0px 6px rgb(0 0 0 / 20%);
	transition-duration: 0.25s;
	z-index: 11;
}

.menu__item {
	display: block;
	padding: 11px 21px;
	color: #333;
	font-family: "MullerMedium", sans-serif;
	font-size: 15px;
	text-decoration: none;
	transition-duration: 0.25s;
}
.menu__item:last-child {
	padding-bottom: 10px;
}
.menu__item:hover {
	background-color: #cfd8dc;
}

/*//*/

.intro {
	height: 100vh;
	padding-top: 107px;
	z-index: 14;
}
.intro-title {
	font-family: "Muller";
	font-style: normal;
	font-weight: 800;
	font-size: 60px;
	line-height: 120%;
	color: #120b33;
	margin-bottom: 32px;
	position: relative;
}
.intro-subtitle {
	font-family: "MullerMedium";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	max-width: 416px;
	color: rgba(18, 11, 51, 0.7);
	margin-bottom: 50px;
}
.girl {
	position: absolute;
	top: 1px;
	margin-left: 340px;
	z-index: 10;
	max-width: 1200px;
}
.form-info {
	display: flex;
	flex-wrap: wrap;
}
.number-form {
	margin-left: 4px;
	padding-top: 5px;
}
.form-number-info {
	width: 338px;
	height: 48px;
	font-family: "MullerRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	color: rgba(20, 29, 48, 0.7);
	background: rgba(100, 75, 236, 0.1);
	border-radius: 8px;
	outline: none;
	border: none;
	padding-bottom: 8px;
	margin-right: 16px;
	margin-bottom: 120px;
}
.button-form {
	font-family: "MullerMedium";
	font-style: normal;
	font-weight: 500;
	font-size: 19.5px;
	line-height: 24px;
	text-align: center;
	text-transform: capitalize;
	color: #ffffff;
	width: 190px;
	height: 45px;
	background: #644bec;
	border-radius: 100px;
	outline: none;
	border: none;
	margin-bottom: 120px;
}
.group-info-block {
	max-width: 1220px;
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 120px;
}
.block-info {
	width: 290px;
	height: 256px;
	background: #ffffff;
	border: 4px solid #f1f4ff;
	box-sizing: border-box;
	border-radius: 12px;
	margin-right: 18px;
	z-index: 12;
}
.block-info:last-child {
	margin-right: 0px;
}
.icon-info {
	padding-top: 24px;
	padding-left: 37px;
	padding-bottom: 30px;
}
.icon-info-two {
	padding-top: 24px;
	padding-left: 37px;
	padding-bottom: 30px;
}
.text-info {
	width: 195px;
	padding-left: -1px;
	/* align-items: center; */

	font-family: "MullerMedium";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: rgba(20, 29, 48, 0.7);
	margin: auto;
}
.text-info-two {
	width: 195px;
	padding-left: -1px;
	font-family: "MullerMedium";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: rgba(20, 29, 48, 0.7);
	margin: auto;
}
.footer-content {
	max-width: 1008px;
	height: 325px;
	margin-left: 215px;
	background-color: #141d30;
}
.footer-block {
	background: #141d30;
	width: 1440px;
	margin: auto;
}
.h-footer {
	font-family: Muller;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	letter-spacing: 0.02em;
	color: #ffffff;
	padding-bottom: 21px;
}
.header-footer {
	max-width: 450px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 17px;
	margin-right: 218px;
}

.text-header-footer {
	font-family: "MullerRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;

	color: rgba(255, 255, 255, 0.7);
}

.group-footer-block {
	max-width: 1000px;
	display: flex;
	padding-top: 52px;
}
.text-h-footer-rigth {
	font-family: "MullerRegular";
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	color: #ffffff;
	margin-bottom: 32px;
}
.svg-footer {
	margin-right: 16px;
}
.svg-footer:last-child {
	margin-right: 29px;
}
.footer-header {
	display: flex;
}
.footer-header-block {
	display: block;
	max-width: 446px;
	margin-right: 516px;
	margin-top: 69px;
}
.footer-header-block-right {
	display: flex;
	float: right;
	max-width: 271px;
	margin-top: 52px;
}
.footer-header-text-left {
	font-family: "MullerRegular";
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	max-width: 210px;
	color: #ffffff;
}
.footer-header-text-right {
	font-family: "MullerRegular";
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;

	color: #ffffff;
}
.footer-header-text-p {
	display: flex;
	max-width: 446px;
	margin-top: 21px;
	font-family: Muller;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;

	color: rgba(255, 255, 255, 0.7);
}
.footer-group-svg {
	float: right;
	margin-top: -32px;
}
.footer-end {
	display: flex;
	max-width: 1002px;
	flex-direction: row;
	margin-top: 94px;
	white-space: nowrap;
}
.footer-2020 {
	margin-right: 103px;
	font-family: "MullerLight";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	color: #ffffff;
}
.footer-a {
	margin-right: 100px;
	font-family: "MullerLight";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;

	text-decoration-line: underline;

	color: #ffffff;
}

.footer-a-user {
	font-family: "MullerLight";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	text-decoration-line: underline;
	color: #ffffff;
	margin-right: 0px;
}

@media (max-width: 768px) {
	.wrapper {
		max-width: 730px;
	}
	.header-link-tel {
		display: none;
	}
	.header-link {
		display: none;
	}
	.header-item-right-two {
		margin-left: 368px;
	}
	.header-wrapper {
		padding-top: 0px;
	}
	.header-logo {
		margin-right: 0px;
		margin-top: 38px;
		margin-left: 16px;
	}
	.header-item-right-two {
		margin-right: 0;
		top: -29px;
	}
	.intro {
		padding-top: 50px;
	}
	.intro-title {
		font-family: "Muller";
		font-style: normal;
		font-weight: 800;
		font-size: 50px;
		line-height: 120%;
		color: #120b33;
	}
	.intro-subtitle {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 120%;
		color: rgba(18, 11, 51, 0.7);
		position: relative;
		top: -2px;
		left: -4px;
	}
	.girl {
		top: 129px;
		margin-left: 194px;
		max-width: 660px;
	}
	.form-number-info {
		position: relative;
		bottom: 6px;
		left: -3px;
	}
	.button-form {
		position: relative;
		top: -7px;
	}
	.button-form {
		padding-top: 4px;
		padding-left: 0px;
		margin-bottom: 120px;
	}
	.block-info {
		width: 169px;
		height: 188px;
	}
	.text-info {
		width: 125px;
		height: 103px;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 130%;
		color: rgba(20, 29, 48, 0.7);
		margin-left: 21px;
		margin-top: 2px;
	}
	.text-info-two {
		width: 130px;
		height: 103px;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 130%;
		color: rgba(20, 29, 48, 0.7);
		margin-left: 19px;
		margin-top: 1px;
	}
	.icon-info {
		max-width: 18px;
		padding-top: 0px;
		padding-left: 0px;
		padding-bottom: 0px;
		margin-left: 22px;
		margin-top: 17px;
		margin-bottom: 18px;
	}

	.icon-info-two {
		max-width: 13px;
		max-height: 19px;
		padding-top: 0px;
		padding-left: 0px;
		padding-bottom: 0px;
		margin-left: 23px;
		margin-top: 17px;
		margin-bottom: 18px;
	}
	.footer-content {
		max-width: 730px;
		margin-left: 17px;
		height: 399px;
	}
	.footer-header-block {
		max-width: 191px;
		margin-right: 247px;
		margin-top: 70px;
	}
	.footer-header-text-left {
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 0.02em;
	}
	.footer-header-block-right {
		display: flex;
		float: right;
		max-width: 296px;
		margin-top: 50px;
	}
	.footer-header-text-right {
		font-size: 24px;
		line-height: 24px;
	}
	.footer-header-text-p {
		max-width: 303px;
		margin-top: 23px;
		font-family: "MullerLight";
		font-size: 14px;
		line-height: 14px;
		color: rgba(255, 255, 255, 0.7);
	}
	.footer-group-svg {
		float: right;
		margin-top: -28px;
		margin-right: 32px;
	}
	.footer-group-svg {
		float: right;
		margin-top: -28px;
		margin-right: 9px;
	}
	.footer-end {
		max-width: 309px;
		flex-direction: column;
	}
	.footer-a-user {
		order: 2;
		margin-bottom: 38px;
	}
	.footer-a {
		order: 3;
		margin-bottom: 44px;
	}
	.footer-2020 {
		order: 4;
	}
	.hamburger-menu {
		display: block;
	}
}
